body{
    background-color:cornflowerblue;
}

h1{
    margin-top: 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    color: aliceblue;
    animation: fadeIn 1s;
    animation: bounceInDown 5s;
    text-shadow: 4px 4px blue;
}

p{
    margin-top: -16px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: aliceblue;
    animation: fadeIn 2s;
    animation: bounceInDown 4s;
    text-shadow: 2px 2px blue;
}

p:hover{
    cursor: default;
    text-align: center;
    margin-top: 30%;
    opacity: 1;
}

h1:hover{
    cursor: default;
}

.git:hover{
    position: fixed;
    cursor: pointer;
}

#dave{
    margin-top: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: -1;
    animation: fadeIn 3s;
    animation: bounceInDown 3s;
    box-shadow: 4px 4px blue;
}

.github{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(11, 75, 194);
    height: 41px;
    border: 0px;
    border-radius: 12px;
    animation: bounceInDown 2s;
}

.github:hover{
    cursor: pointer;
    background-color:rgb(11, 75, 194);
    opacity: 1;
    border-radius: 90%;
    height: 120px;
    width: 120px;
    transition-duration: 0.6s;
}

.git{
    margin: 3px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color:aliceblue;
    vertical-align:bottom;
    text-decoration: none;
    text-shadow: 2px 2px cornflowerblue;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
